@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@layer base {
  h2 {
    @apply text-3xl md:text-5xl font-bold;
  }
  h3 {
    @apply text-xl md:text-2xl font-bold;
  }
  input,
  textarea {
    @apply text-black px-2 py-1 rounded-md shadow-md bg-neutral-300 outline-neutral-700;
  }
  a {
    @apply underline;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
